:root {
    font-size : 100%;
    font-family : system-ui, sans-serif;
    scroll-behavior : smooth;
  }
  * , *::before , *::after {
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
    vertical-align : baseline;
  }
  *::before , *::after {
    display : block;
  }
  img , picture , video , iframe , figure , canvas {
    max-width : 100%;
    display : block;
    width : 100%;
    height : initial;
    object-fit : cover;
    object-position : center center;
  }
  a {
    display : block;
    text-decoration : none;
    color : inherit;
    font :  inherit;
  }
  p a {
    display : inline;
  }
  li , menu, summary {
    list-style-type : none;
  }
  ol {
    counter-reset : revert;
  }
  h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
    font :  inherit;
    text-decoration :  none;
    color : inherit;
    overflow-wrap : break-word;
    text-wrap : pretty;
  }
  mark {
    background-color : transparent;
  }
  blockquote::before , blockquote::after , q::before , q::after {
    content : none;
  }
  form , input , textarea , select , button , label {
    font :  inherit;
    hyphens : auto;
    background-color : transparent;
    color : inherit;
    display : block;
    appearance : none;
  }
  fieldset {
    border : none;
  }
  ::placeholder {
    color : unset;
  }
  button , label {
    cursor : pointer;
  }
  table , tr , td , th , tbody , thead , tfoot {
    border-collapse : collapse;
    border-spacing : 0;
    font : inherit;
  }
  svg {
    width : 100%;
    display : block;
    fill : currentColor;
  }
  body {
    min-height : 100vh;
    line-height : 1.5em;
    color : inherit;
    hyphens : auto;
    font-smooth : always;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing : grayscale;
  }

.carrousel{
  width: 80%;
  max-width: 600px;
  background-color: lightcoral;
  border-radius: 10px;
  margin: 10vh auto;

  position: relative;
  overflow: hidden;

}
.carrousel-wrapper{
  width: 200%;
  min-height: 200px;
  /* background-color: yellow; */

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  transform: translateX(0%);
  transition: transform 1s ease;
  
}
.carrousel-img{
  width: calc( 100% / 2 );
  border-radius: .625rem;
}
.carrousel-button{
  position: absolute;
  width: 20%;
}
.carrousel-button.button-next{
  scale: 2;
  top: 50%;
  right: 0%;
  transition: scale .8s ease;
}
.carrousel-button.button-next:hover{
  scale: 1.8;
}
.carrousel-button.button-prev{
  scale: 2;
  top: 50%;
  left: 0;
  transition: scale .8s ease;
}
.carrousel-button.button-prev:hover{
  scale: 1.8;
}
